#root {
  max-width: 1920px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

body {
 background-color: #1f2937;
}

.custom-focus {
  @apply focus-visible:ring-0 focus-visible:ring-offset-0 focus-visible:outline-0;
}
